@page "/"
@page "/budget"
@using BudzetApp.Data
@inject BudgetBookService budgetBookService

@code {

	List<Entry> allEntries = new List<Entry>();

	Entry newEntry = new Entry();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		allEntries = await budgetBookService.GetAllEntries();
	}

	protected async void CreateEntry()
	{
		await budgetBookService.AddEntry(newEntry);
	}
}

<table class="table table-striped table-borderd">

	<thead class="table-dark">
		<tr>
			<th>
				Ilość
			</th>
			<th>
				Opis
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach(Entry entry in allEntries)
		{
			<tr>
				<td>
					@entry.Description
				</td>
				<td>
					@entry.Amount
				</td>
			</tr>
		}
	</tbody>

</table>

<form>

	<div class="row">
		<div class="col">
			<label class="control-label">Opis</label>
			<input class="form-control" @bind="@newEntry.Description"/>
		</div>
		<div class="col">
			<label class="control-label">Ilość</label>
			<input class="form-control" @bind="@newEntry.Amount" />
		</div>
	</div>
	<div class="row mt-2">
		<div class="col">
			<button class="btn btn-primary" @onclick="@CreateEntry">Dodaj</button>
		</div>
	</div>

</form>